@CHARSET "windows-1255";

#main_wrapper{
	padding: 20px;
	
}

#header{
	background: #00CCFF;
}



#login_form{
	background: #fefefe;
	padding: 15px;
}

#content{
	background: #affb82;
	padding: 20px;
}

#login_div {
	padding: 20px;
}

#img_preview{
	width: 400px;
	
}

