<!doctype html>
<html ng-app>
	<head>
		
		<script type="text/javascript">
		
		function AddressBookController($scope) {
			$scope.contacts = [ {
				firstName : 'dave',
				lastName : 'jameson',
				number : '0546655837'
			}, {
				firstName : 'larisa',
				lastName : 'dorfman',
				number : '050923423'
			}, {
				firstName : 'john',
				lastName : 'oxford',
				number : '0529346353'
			} ];
			$scope.addContact = function() {
				if ($scope.firstName && $scope.lastName && $scope.number) {
					$scope.contacts.push({
						firstName : $scope.firstName,
						lastName : $scope.lastName,
						number : $scope.number
					});
					$scope.firstName = '';
					$scope.lastName = '';
					$scope.number = '';
				}
			};
		}
		</script>
		<script
			src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js">
		</script>
	</head>
<body>
	<h2>Address Book</h2>
	<div ng-controller="AddressBookController">
		<table border=1>
			<tr>
				<th>first name</th>
				<th>last name</th>
				<th>number</th>
			</tr>
			<tr ng-repeat="contact in contacts">
				<td>{{contact.firstName}}</td>
				<td>{{contact.lastName}}</td>
				<td>{{contact.number}}</td>
			</tr>
		</table>
		<p></p>
		<form ng-submit="addContact()">
			<input type="text" ng-model="firstName" size="10" placeholder="first name...">
			<input type="text" ng-model="lastName" size="10" placeholder="last name...">
			<input type="text" ng-model="number" size="10" placeholder="number...">
			<input type="submit" value="add">
		</form>
	</div>
</body>
</html>