<!doctype html>
<html lang="en" ng-app="app"  ng-controller="CouponSystemController">
	<head>
		<meta charset="utf-8" />
		<title>Coupon System</title>
		<link rel="stylesheet" href="style/main.css" />
		
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
		<script src="scripts/scriptAngular.js"></script>
		
	</head>
	<body>
		<div id="big_wrapper">
			<header id="top_header">
				<h1>Welcome to Ethan Awesome Coupon System!</h1>
			</header>
			
			<!-- av id="top_menu">
				<ul>
					<li>Home</li>
					<li>Tutorials</li>
					<li>Podcast</li>
				</ul>
			</nav >-->
			
			<div id="new_div">
				<aside id="side_control">
					<div id="login_div" ng-show="login_panel" >
						<form id="login_form" ng-submit="submitLogin()">
							User Name: <input ng-model="login.username" id="username" name="username" type="text" /> <br />
							Password: <input ng-model="login.password" id="password" name="password" type="password" /> <br />
							Type: 
							<select ng-model="login.role" id="role" name="role" > 
								<option value="customer">Customer</option>
								<option value="company">Company</option>
								<option value="admin">Admin</option>
							</select> <br />
							<button id="sendLogin" name="sendLogin">Submit</button>
							<img src="images\loading.gif" id="loadingGif" hidden="true" width="15px;" />
						</form>
					</div>
					<div id="welcome_div" ng-show="welcome_panel">
						<p>Hello {{user.username}}</p><br />
						<button id="logout" ng-click="logout()">Logout</button>
					</div>
					<p id="feedback"></p>
					<div id="admin_control_panel" class="control_panel" ng-show="admin_panel" >
						<ul>
							<li ng-click="getCompanies()">
								<a href="#">Manage companies</a>
							</li>
							
							<li ng-click="getCustomers()">
								<a>View all Customers</a>
							</li>

							
						</ul>
					</div>
					<div id="company_control_panel" class="control_panel" ng-show="company_panel" >
						<ul>
							<li ng-click="getCoupons()">
								<a href="#">Manage Coupons</a>
							</li>
							
							

							
						</ul>
					</div>
					<div id="customer_control_panel" class="control_panel" ng-show="customer_panel" >
						<ul>
							<li  onclick="getCompanies()">
								<a href="#">View all Companies</a>
							</li>
							<li><a>Create a company</a></li>
							<li><a>Update a company</a></li>

							
						</ul>
					</div>
					
					
					
				</aside>
				
				<section id="main_section">
				
					<!-- Show companies -->
					<div id="display_companies" ng-show="company_display">
						<table id="company_table" border="1">
							<thead>
								<tr>
									<th>ID</th>
									<th>Company Name</th>
									<th>Company Email</th>
									<th>Password</th>
									<th>Update</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody id="company_table_body">
								<tr ng-repeat="company in companies">
									<td>{{company.id}}</td>
									<td>{{company.companyName}}</td>
									<td>{{company.email}}</td>
									<td>{{company.password}}</td>
									<td><input type='button' value='update' ng-click='updateCompany($index)' /></td>
									<td><input type='button' value='delete' ng-click='deleteCompany($index)' /></td>
								</tr>
							</tbody>
						</table>
						<form ng-submit="sendCompany()">
							<input type="hidden"  ng-value="newCompany.id" id="company_id" name="company_id" />
							<table>
								<tr>
									<td>Company name:</td>
									<td><input ng-model="newCompany.companyName" ng-disabled="savedProperty" id="company_name" name="company_name" /></td>
								</tr>
								<tr>
									<td>Company email:</td>
									<td><input  ng-model="newCompany.email"  id="company_email" name="company_email"/></td>
								</tr>
								<tr>
									<td>Company password:</td> 
									<td><input ng-model="newCompany.password" id="company_password" name="company_password" /></td>
								</tr>
								<tr>
									<td colspan="2" id="company_table_button">
										<button id="sendCompany">{{submitCation}}</button>
										<input type="button" id="sendCompany" ng-click="resetCompany()" value="Cancel" />
									</td>
								</tr>
							</table>
						</form>
					</div>
					
					<div id="display_customers" ng-show="customer_display">
						<table id="customers_table" border="1">
							<thead>
								<tr>
									<th>ID</th>
									<th>User Name</th>
									<th>Password</th>
									<th>Update</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody id="customers_table_body">
								<tr ng-repeat="customer in customers">
									<td >{{customer.id}}</td>
									<td >{{customer.custName}}</td>
									<td>{{customer.password}}</td>
									<td><input type='button' value='update' ng-click='updateCustomer($index)' /></td>
									<td><input type='button' value='delete' ng-click='deleteCustomer($index)' /></td>
								</tr>
							</tbody>
						</table>
						<form ng-submit="sendCustomer()">
							<input type="hidden"  ng-value="newCustomer.id" id="customer_id" name="customer_id" />
							<table>
								<tr>
									<td>Customer name:</td>
									<td><input ng-model="newCustomer.custName" ng-disabled="savedProperty" id="customer_name" name="customer_name" /></td>
								</tr>
								<tr>
									<td>Customer password:</td> 
									<td><input ng-model="newCustomer.password" id="customer_passowrd" name="customer_passowrd" /></td>
								</tr>
								<tr>
									<td colspan="2" id="company_table_button">
										<button id="createCustomer">{{submitCation}}</button>
										<input type="button" id="sendCustomer" ng-click="resetCustomer()" value="Cancel" />
									</td>
								</tr>
							</table>
						</form>
					</div>
					
					
					<div id="display_coupons" ng-show="coupons_display">
						<article ng-repeat="coupon in coupons">
						<img src="images\{{coupon.image}}" />
							<div class="coupon_content">
								<header>
									<hgroup>
										<h1>{{coupon.title}}</h1>
									</hgroup>
								</header>
								<p>{{coupon.message}}</p>
								<p>price: {{coupon.price}}</p>
								<p>{{coupon.startDate | date:'dd-MM-yyyy'}} - {{coupon.endDate | date:'dd-MM-yyyy'}}</p>
								<p>Type: {{coupon.type}} Amount: {{coupon.amount}}</p>
								<footer>
									<p>- Created by this company</p>
								</footer>
							</div>
						</article>
						<table id="coupons_table" border="1">
							<thead>
								<tr>
									<th>ID</th>
									<th>Title</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Amount</th>
									<th>Type</th>
									<th>Message</th>
									<th>Price</th>
									<th>Image</th>
									<th>Update</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody id="coupons_table_body">
								<tr ng-repeat="coupon in coupons">
									<td >{{coupon.id}}</td>
									<td >{{coupon.title}}</td>
									<td>{{coupon.startDate | date:'dd-MM-yyyy'}}</td>
									<td>{{coupon.endDate | date:'dd-MM-yyyy'}}</td>
									<td>{{coupon.amount}}</td>
									<td>{{coupon.type}}</td>
									<td>{{coupon.message}}</td>
									<td>{{coupon.price}}</td>
									<td>{{coupon.image}}</td>
									<td><input type='button' value='update' onclick='updateCoupon($index)' /></td>
									<td><input type='button' value='delete' onclick='deleteCoupon($index)' /></td>
								</tr>
							</tbody>
						</table>
						<form ng-submit="addCompany()">
							<table>
								<tr>
									<td>Customer name:</td>
									<td><input ng-model="newCustomer.custName" id="customer_name" name="customer_name" /></td>
								</tr>
								<tr>
									<td>Customer password:</td> 
									<td><input ng-model="newCustomer.password" id="customer_passowrd" name="customer_passowrd" /></td>
								</tr>
								<tr>
									<td colspan="2" id="company_table_button">
										<button id="createCustomer">Create</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
					
					
					
					
				</section>
				
				
			</div>
			<footer id="the_footer">
				Copyrights Ethan page! 2015
			</footer>
		</div>
	</body>
</html>